body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.gradient-preview {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}
#simplified-gradient,
#rounded-simplified-gradient {
  margin-top: 20px;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
#progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
#progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 100ms linear;
}
